In [1]:
from sklearn import preprocessing
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.decomposition import PCA

In [2]:
train =pd.read_csv("train.csv")
test =pd.read_csv("test.csv")

In [3]:
train.shape , test.shape

((4209, 378), (4209, 377))

In [4]:
train.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [5]:
test.columns

Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [6]:
stats=pd.DataFrame()
stats["Var"]= train.var()
stats

               Var
ID    5.941936e+06
y     1.607667e+02
X10   1.313092e-02
X11   0.000000e+00
X12   6.945713e-02
...            ...
X380  8.014579e-03
X382  7.546747e-03
X383  1.660732e-03
X384  4.750593e-04
X385  1.423823e-03

[370 rows x 1 columns]

In [7]:
zero_v= stats[stats.Var == 0]
zero_v

      Var
X11   0.0
X93   0.0
X107  0.0
X233  0.0
X235  0.0
X268  0.0
X289  0.0
X290  0.0
X293  0.0
X297  0.0
X330  0.0
X347  0.0

In [8]:
del [zero_v]

In [9]:
print(test.var())

ID      5.871311e+06
X10     1.865006e-02
X11     2.375861e-04
X12     6.885074e-02
X13     5.734498e-02
            ...
X380    8.014579e-03
X382    8.715481e-03
X383    4.750593e-04
X384    7.124196e-04
X385    1.660732e-03
Length: 369, dtype: float64

In [10]:
stat=pd.DataFrame()
stat["Vars"]= test.var()
stat

              Vars
ID    5.871311e+06
X10   1.865006e-02
X11   2.375861e-04
X12   6.885074e-02
X13   5.734498e-02
...            ...
X380  8.014579e-03
X382  8.715481e-03
X383  4.750593e-04
X384  7.124196e-04
X385  1.660732e-03

[369 rows x 1 columns]

In [11]:
zer_v= stat[stat.Vars == 0]
zer_v

      Vars
X257   0.0
X258   0.0
X295   0.0
X296   0.0
X369   0.0

In [12]:
del [zer_v]

In [13]:
y_train = train['y'].values

In [14]:
cols = [c for c in train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

Number of features: 376

In [15]:
print('Feature types:')
train[cols].dtypes.value_counts()

Feature types:

int64     368
object      8
dtype: int64

In [16]:
counts = [[], [], []]
for c in cols:
    typ = train[c].dtype
    uniq = len(np.unique(train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [17]:
usable_columns = list(set(train.columns) - set(['ID', 'y']))
y_train = train['y'].values
id_test = test['ID'].values

x_train = train[usable_columns]
x_test = test[usable_columns]

In [18]:
def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

In [19]:
for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1)
        x_test.drop(column, axis=1)
    if cardinality > 2:
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

C:\Users\cugagu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\cugagu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,X294,X321,X332,X180,X247,X99,X26,X5,X241,X59,...,X293,X263,X278,X243,X134,X98,X367,X8,X163,X128
0,0,0,0,0,0,0,0,117,0,0,...,0,1,0,0,0,0,0,111,0,1
1,0,0,0,0,0,0,0,121,0,0,...,0,1,0,0,0,1,0,111,0,1
2,0,0,0,0,0,0,0,120,1,0,...,0,0,0,0,0,1,0,120,1,1
3,0,0,0,0,0,0,0,120,1,0,...,0,0,0,0,0,1,0,101,0,1
4,0,0,0,0,0,0,0,104,0,0,...,0,0,0,0,0,1,0,110,0,1

In [20]:
print('Feature types:')
x_train [cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [21]:
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [22]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [23]:
x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

In [24]:
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

In [25]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [26]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

In [27]:
watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [28]:
clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[14:24:47] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.1484	valid-rmse:98.263	train-r2:-58.353	valid-r2:-67.6375
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.2765	valid-rmse:80.3643	train-r2:-38.8843	valid-r2:-44.9101
[20]	train-rmse:66.7161	valid-rmse:65.7733	train-r2:-25.874	valid-r2:-29.7526
[30]	train-rmse:54.8696	valid-rmse:53.8892	train-r2:-17.1775	valid-r2:-19.6436
[40]	train-rmse:45.2449	valid-rmse:44.2192	train-r2:-11.3598	valid-r2:-12.8996
[50]	train-rmse:37.4473	valid-rmse:36.3738	train-r2:-7.46667	valid-r2:-8.40503
[60]	train-rmse:31.1475	valid-rmse:30.02	train-r2:-4.85758	valid-r2:-5.40622
[70]	train-rmse:26.0866	valid-rmse:24.9098	train-r2:-3.10873	valid-r2:-3.41086
[80]	train-rmse:22.0464	valid-rmse:20.8334	train-r2:-1.93459	valid-r2:-2.08532
[90]	train-rmse:18.8441	valid-rmse:17.604	train-r2:-1.14398	valid-r2:-1.20295
[100]	train-rmse:16.3402	valid-rmse:15.0836	train-r2:-0.612084	valid-r2:-0.6173
[110]	train-rmse:14.4025	valid-rmse:13.1465	train-r2:-0.252415	valid-r2:-0.228575
[120]	train-rmse:12.9265	valid-rmse:11.6795	train-r2:-0.008864	valid-r2:0.030323
[130]	train-rmse:11.8133	valid-rmse:10.6047	train-r2:0.157407	valid-r2:0.20058
[140]	train-rmse:10.9857	valid-rmse:9.83966	train-r2:0.271338	valid-r2:0.311757
[150]	train-rmse:10.3776	valid-rmse:9.30584	train-r2:0.349778	valid-r2:0.384408
[160]	train-rmse:9.9227	valid-rmse:8.94211	train-r2:0.405529	valid-r2:0.431589
[170]	train-rmse:9.58864	valid-rmse:8.69646	train-r2:0.444881	valid-r2:0.462391
[180]	train-rmse:9.33831	valid-rmse:8.53866	train-r2:0.473489	valid-r2:0.481723
[190]	train-rmse:9.15243	valid-rmse:8.43399	train-r2:0.49424	valid-r2:0.494352
[200]	train-rmse:9.01012	valid-rmse:8.37032	train-r2:0.509845	valid-r2:0.501957
[210]	train-rmse:8.90215	valid-rmse:8.32712	train-r2:0.521523	valid-r2:0.507085
[220]	train-rmse:8.824	valid-rmse:8.30368	train-r2:0.529887	valid-r2:0.509856
[230]	train-rmse:8.75945	valid-rmse:8.29145	train-r2:0.536739	valid-r2:0.511299
[240]	train-rmse:8.71366	valid-rmse:8.28652	train-r2:0.541571	valid-r2:0.51188
[250]	train-rmse:8.67055	valid-rmse:8.283	train-r2:0.546095	valid-r2:0.512294
[260]	train-rmse:8.62999	valid-rmse:8.28453	train-r2:0.550332	valid-r2:0.512114
[270]	train-rmse:8.5975	valid-rmse:8.28417	train-r2:0.553712	valid-r2:0.512157
[280]	train-rmse:8.57012	valid-rmse:8.28516	train-r2:0.556549	valid-r2:0.51204
[290]	train-rmse:8.5358	valid-rmse:8.28185	train-r2:0.560094	valid-r2:0.51243
[300]	train-rmse:8.51217	valid-rmse:8.27984	train-r2:0.562526	valid-r2:0.512666
[310]	train-rmse:8.49013	valid-rmse:8.27928	train-r2:0.564789	valid-r2:0.512733
[320]	train-rmse:8.46422	valid-rmse:8.27992	train-r2:0.567441	valid-r2:0.512658
[330]	train-rmse:8.44598	valid-rmse:8.28272	train-r2:0.569304	valid-r2:0.512328
[340]	train-rmse:8.42213	valid-rmse:8.2821	train-r2:0.571732	valid-r2:0.512401
[350]	train-rmse:8.3959	valid-rmse:8.28032	train-r2:0.574396	valid-r2:0.51261
[360]	train-rmse:8.3747	valid-rmse:8.27812	train-r2:0.576542	valid-r2:0.512869
[370]	train-rmse:8.35769	valid-rmse:8.27797	train-r2:0.578261	valid-r2:0.512887
[380]	train-rmse:8.32944	valid-rmse:8.27103	train-r2:0.581107	valid-r2:0.513703
[390]	train-rmse:8.3086	valid-rmse:8.26724	train-r2:0.583201	valid-r2:0.514149
[400]	train-rmse:8.28555	valid-rmse:8.26469	train-r2:0.58551	valid-r2:0.514449
[410]	train-rmse:8.25977	valid-rmse:8.26457	train-r2:0.588085	valid-r2:0.514463
[420]	train-rmse:8.23868	valid-rmse:8.264	train-r2:0.590186	valid-r2:0.51453
[430]	train-rmse:8.21467	valid-rmse:8.26505	train-r2:0.592571	valid-r2:0.514407
[440]	train-rmse:8.18985	valid-rmse:8.26625	train-r2:0.595029	valid-r2:0.514266
[450]	train-rmse:8.16141	valid-rmse:8.26197	train-r2:0.597837	valid-r2:0.514768
[460]	train-rmse:8.13818	valid-rmse:8.26564	train-r2:0.600124	valid-r2:0.514337
[470]	train-rmse:8.11142	valid-rmse:8.26253	train-r2:0.602748	valid-r2:0.514703
[480]	train-rmse:8.08787	valid-rmse:8.26428	train-r2:0.605052	valid-r2:0.514497
[490]	train-rmse:8.06786	valid-rmse:8.26121	train-r2:0.607004	valid-r2:0.514857
[500]	train-rmse:8.04186	valid-rmse:8.26159	train-r2:0.609532	valid-r2:0.514813
[510]	train-rmse:8.02542	valid-rmse:8.26177	train-r2:0.611127	valid-r2:0.514792
[520]	train-rmse:8.00854	valid-rmse:8.26185	train-r2:0.612762	valid-r2:0.514783
[530]	train-rmse:7.99015	valid-rmse:8.26129	train-r2:0.614538	valid-r2:0.514848
[540]	train-rmse:7.96948	valid-rmse:8.26228	train-r2:0.61653	valid-r2:0.514732
Stopping. Best iteration:
[496]	train-rmse:8.05289	valid-rmse:8.26014	train-r2:0.608461	valid-r2:0.514983

In [29]:
p_test = clf.predict(d_test)
p_test

array([ 82.29001,  97.14326,  82.94142, ...,  99.08738, 107.49637,
        96.83684], dtype=float32)

In [30]:
sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub

        ID           y
0        1   82.290009
1        2   97.143257
2        3   82.941422
3        4   76.857262
4        5  112.497169
...    ...         ...
4204  8410  109.783180
4205  8411  100.468788
4206  8413   99.087379
4207  8414  107.496368
4208  8416   96.836838

[4209 rows x 2 columns]