In [1]:
import pandas as pd#Data Wrangling
import numpy as np#Numpy array


import matplotlib.pyplot as plt#Visualization
import seaborn as sns#Visualization
#%matplotlib inline


import pandas_profiling#Descriptive Analytics

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Read Data

In [3]:
df = pd.read_csv('IPL IMB381IPL2013.csv')

# Look at few records

## first 5 records

In [5]:
df.head()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000

In [10]:
pfr = pandas_profiling.ProfileReport(df)

In [ ]:
pfr.to_file("IPL_Data_Analysis.html")